.recipes-container {
    margin: 50px 15px 0px;
    font-size: 50px;
}

.recipes-container li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 20px;
}

.recipes-container ul {
    padding: 0;
    margin: 0;
}

.recipes-container h1 {
    text-align: center;
    font-family: Script MT;
    font-size: 30px;
}

.recipe-thumb {
    width: 250px;
    height: 200px;
    margin: auto;
    font-size: 30px;
    font-family: Forte;
    cursor: pointer;
}

.recipe-thumb img {
    width: 100%;
    height: 100%;
}

.recipe-thumb-header {
     width: 100%;
     height: 20%;
     margin: auto;
     background-color: #FFFFFF;
     text-align: center;
     vertical-align: middle;
     line-height: 50px;
     text-transform: capitalize;
 }

.recipe-thumb-body {
    position: relative;
    width: 100%;
    height: 80%;
    background-color: grey;
    padding: 0px;
}

.recipe-thumb-body:hover .overlay {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    text-align: center;
    font-family: Script MT;
    color: white;
}

.recipe-thumb-body .overlay {
    display: none;
}

.recipe-thumb-body span {
    margin: 5px;
    text-align: center;
}

.recipe-view-modal {
    height: 93%;
    overflow-y: auto;
}

.common-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 100;
}
.recipe-view img{
    width: 300px;
    height: 200px;
}
.recipe-view h1{
    font-family: Script MT;
    font-size: 40px;
    color: white;
}

.recipe-view li{
    list-style-type: none;
    color: white;
    font-family: Papyrus;
    font-size: 20px;
}

.recipe-view-name {
    text-transform: capitalize;
    font-size: 70pt;
    text-align: center;
    font-family: Forte;
    color: white;
}
