.form input, select, textarea{
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    margin: 3px;
    color: white;
    font-size: 14px;
    min-height: 20px;
    padding: 4px;
}

.form input:focus, textarea:focus{
    background-color: rgba(255, 255, 255, 0);
}

.form input:invalid{
    background-color: #FF8181;
    border: 1px solid white;
}

.form li{
    list-style-type: none;
}

.form ul{
    padding: 0;
}

.baseinfo-form input{
    width: 40%;
}

.instruction-form textarea{
    width: 80%;
}

.form .note{
    width: 400px;
}

.form option{
    color: black;
}

.input-error{
    color: #FF8181;
    font-size: 15px;
    margin: auto 10px;
}